<?xml version="1.0" encoding="utf-8"?>
<connectionStrings>
 <add name="NFineDbContext" connectionString="Server=.;Initial Catalog=trade_product;User ID=sa;Password=!@#123qwe" providerName="System.Data.SqlClient" /> 
  <!--<add name="NFineDbContext" connectionString="Server=.;Initial Catalog=trade_product;Integrated Security=True " providerName="System.Data.SqlClient" />-->
</connectionStrings>