@{
    ViewBag.Title = "Form";
    Layout = "~/Views/Shared/_Form.cshtml";
}
<link href="~/Content/css/formSelects-v4.css" rel="stylesheet" />
<script src="~/Content/js/formSelects-v4.js" type="text/javascript" charset="utf-8"></script>
<script>
    var keyValue = $.request("keyValue");
    $(function () {
        initControl();
        $.ajax({
            url: "/SystemManage/User/GetFormJson",
            data: { keyValue: keyValue },
            dataType: "json",
            async: false,
            //success: function (data) {
            //    $("#form1").formSerialize(data);
            //    $("#form1").find('.form-control,select,input').attr('readonly', 'readonly');
            //    $("#form1").find('div.ckbox label').attr('for', '');
            //    $("#F_UserPassword").val("******");
            //}
            success: function (data) {
                $("#form1").formSerialize(data);
                var strRole = data["F_RoleId"];
                if (strRole != "") {
                    if (strRole.indexOf(",") > 0) {
                        formSelects.value('selectId', strRole.split(","));
                    } else {
                        formSelects.value('selectId', [strRole]);
                    }
                }
                    $("#form1").find('.form-control,select,input').attr('readonly', 'readonly');
                    $("#form1").find('div.ckbox label').attr('for', '');
                    $("#F_UserPassword").val("******");
            }
        });
    });
    function initControl() {
        $("#F_Gender").bindSelect()
        $("#F_CreatorUserId").bindSelect({
            url: "/SystemManage/User/GetGridJsonAll",
            id: "F_Id",
            text: "F_RealName"
        });
        $("#F_LastModifyUserId").bindSelect({
            url: "/SystemManage/User/GetGridJsonAll",
            id: "F_Id",
            text: "F_RealName"
        });
        $("#F_RoleId").bindSelecttj({
            url: "/SystemManage/Role/GetGridJson",
            id: "F_Id",
            text: "F_FullName"
        });
        formSelects.render('selectId');
    }
</script>
<form id="form1">
    <div style="margin-top: 10px; margin-left: 10px; margin-right: 10px;">
        <ul class="nav nav-tabs">
            <li class="active"><a href="#">基本信息</a></li>
            @*<li><a href="javascript:void()">扩展信息</a></li>
            <li><a href="javascript:void()">登录日志</a></li>
            <li><a href="javascript:void()">操作日志</a></li>*@
        </ul>
        <div style="padding-top: 20px; margin-right: 30px;">
            <table class="form">
                <tr>
                    <th class="formTitle">账户</th>
                    <td class="formValue">
                        <input id="F_Account" name="F_Account" type="text" class="form-control required" placeholder="请输入账户" />
                    </td>
                    <th class="formTitle">密码</th>
                    <td class="formValue">
                        <input id="F_UserPassword" name="F_UserPassword" type="password" class="form-control required" placeholder="请输入密码" />
                    </td>
                </tr>
                <tr>
                    <th class="formTitle">姓名</th>
                    <td class="formValue">
                        <input id="F_RealName" name="F_RealName" type="text" class="form-control required" placeholder="请输入姓名" />
                    </td>
                    <th class="formTitle">性别</th>
                    <td class="formValue">
                        <select id="F_Gender" name="F_Gender" class="form-control required">
                            <option value="true">男</option>
                            <option value="false">女</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <th class="formTitle">角色</th>
                    <td class="formValue" colspan="3">
                        <div>
                            <select id="F_RoleId" name="F_RoleId" xm-select="selectId"></select>
                        </div>
                    </td>
                </tr>
                <tr>
                    <th class="formTitle">创建人员</th>
                    @*<td class="formValue">
                        <input id="F_CreatorUserId" name="F_CreatorUserId" type="text" class="form-control" />
                    </td>*@
                    <td class="formValue">
                        <select id="F_CreatorUserId" name="F_CreatorUserId" class="form-control required">
                            @*<option value="">==请选择==</option>*@
                        </select>
                    </td>
                    <th class="formTitle">创建时间</th>
                    <td class="formValue">
                        <input id="F_CreatorTime" name="F_CreatorTime" type="text" class="form-control" />
                    </td>
                </tr>
                <tr>
                    <th class="formTitle">修改人员</th>
                    @*<td class="formValue">
                        <input id="F_LastModifyUserId" name="F_LastModifyUserId" type="text" class="form-control" />
                    </td>*@
                    <td class="formValue">
                        <select id="F_LastModifyUserId" name="F_LastModifyUserId" class="form-control required">
                            
                        </select>
                    </td>
                    <th class="formTitle">修改时间</th>
                    <td class="formValue">
                        <input id="F_LastModifyTime" name="F_LastModifyTime" type="text" class="form-control" />
                    </td>
                </tr>
            </table>
        </div>
    </div>
</form>
